<!doctype html>
<html>
  <head>
    <title>OpenVB</title>
    <link href="openvb/openvb.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <center>
      <video id="openvb_video" scroll="no" src="https://samplelib.com/lib/preview/mp4/sample-30s.mp4"></video>
    </center>
    <img id="openvb_play" src="https://cdn-icons-png.flaticon.com/512/4028/4028535.png">
    <img id="openvb_fullscreen" src="https://cdn-icons-png.flaticon.com/512/4028/4028535.png">
  </body>
  <script src="openvb/openvb.js" type="module"></script>
</html>