<!doctype html>
<html>
  <head>
    <title>OpenVB</title>
    <link href="openvb/openvb.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
      <center>
        <video id="openvb_video" scroll="no"></video>
    </center>
    <img id="openvb_play" src="./openvb/svg/Play.svg">
    <!-- Coming Soon?
    -- <img id="openvb_skip" src="./openvb/svg/Skip.svg"> 
    -->
    <img id="openvb_fullscreen" src="./openvb/svg/Fullscreen.svg">
  </body>
  <script src="openvb/openvb.js" type="module"></script>
</html>