<!doctype html>
<html>
  <head>
    <title>OpenVB</title>
    <link href="openvb/openvb.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <center>
      <video id="openvb_video" scroll="no"></video>
    </center>
    <input type="range" min="0" value="0" class="openvb_slider" id="openvb_slider">
    <img id="openvb_play" src="./openvb/svg/Play.svg">
    <img id="openvb_fullscreen" src="./openvb/svg/Fullscreen.svg">
  </body>
  <script src="openvb/openvb.js" type="module"></script>
</html>
